{% extends 'base.html' %}
{% block content %}
<section>
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-8">
                <p class="title">About Cookie Create</p>
                <p>Welcome to Cookie Create, where innovation meets tradition, and the warmly comforting, age-old
                    tradition of
                    baking cookies is married to the modern dynamism and creativity of 3D printing technology. Founded
                    in Ohio,
                    the birthplace of profound strides in innovation and creativity, our company is built on strong
                    pillars of
                    authenticity, expertise, and innovation.</p><br>
                <p>Since our inception, Cookie Create has been aiming to revolutionize the art of baking, making it an
                    engaging and
                    innovative experience. We are a foremost specialist in the creation of 3D printed cookie cutters and
                    stencils in an endless variety of forms, sizes, and themes. Our range of designs boasts everything
                    from
                    holiday-themed cookie cutters to customized shapes that cater to your unique creative vision.</p>
                <br>
                <p>At Cookie Create, we endeavor to perpetually redefine the boundaries of creativity in your kitchen.
                    Our
                    cookie cutters and stencils are designed to inspire bakers, regardless of age or experience,
                    stirring the
                    batter of their imagination to whip up visually stunning and sumptuous culinary triumphs. With our
                    tools in
                    your hands, every day is a new opportunity to express your creativity and delight your taste buds.
                </p><br>
                <p>Driven by a dedicated team, our Ohio-based company boasts a rich lineage of experts in cookie
                    crafting and 3D
                    printing. We focus on not just providing a product, but an exhilarating and empowering baking
                    experience for
                    our users. Each new design is a product of careful consideration, thorough research, and meticulous
                    design,
                    making for a fun, hassle-free, and fulfilling baking journey every time.</p><br>
                <p>Our 3D printing process is state-of-the-art, ensuring that every cutter and stencil we produce is
                    safe,
                    robust, and finely detailed. We are committed to using only food-safe materials, keeping your health
                    and
                    safety as our paramount concern. Each product undergoes rigorous quality checks, ensuring that they
                    not only
                    meet but exceed the industry's highest standards.</p><br>
                <p>But our commitment to you goes beyond just ensuring the highest quality products. We take enormous
                    pride in
                    fostering a community of bakers, from beginners exploring their culinary skills to seasoned cookie
                    artists
                    perfecting their craft. Our mission is to inspire, teach, and support; sharing tips, tricks, and
                    recipes
                    while nurturing an environment of learning and progress.</p><br>
                <p>In the bustling heart of Ohio, we have managed to create a world where everyone can express their
                    creativity,
                    solidify bonds, and make cherished memories around the warmth of freshly baked cookies. We believe
                    that our
                    work at Cookie Create isn’t just about baking accessories; it’s about fostering connections,
                    celebrating
                    individuality, and baking memories that last a lifetime.</p><br>
                <p>Bake with passion, savor with delight, and create with Cookie Create - bringing your imagination to
                    the
                    table, one cookie at a time! Thank you for your interest and trust in our products, and we look
                    forward to
                    serving you. Happy baking!</p><br>
                <p>Eh, most of the above is just silly corpo speak to keep the search engines happy. We just make really
                    good
                    cookie cutters and stencils.</p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}