{% extends "base.html" %}
{% block content %}
<section>
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-8">
                <p class="title">Frequently Asked Questions</p>
                <p class="title is-4 mt-4 mb-0">How long will my order take to arrive?</p>
                <p>Cutters are made to order, and depending on current volume of orders, may take up to 72 hours to be
                    made after payment. Afterward, we use USPS ground shipping to send from Ohio to you, which takes
                    between 1-4 days depending on your location.</p>
                <p class="title is-4 mt-4 mb-0">Do you ship internationally?</p>
                <p>We ship to USA and Canada.</p>
                <p class="title is-4 mt-4 mb-0">Is shipping free?</p>
                <p>For orders to the USA, all orders over $10 ship for free.</p>
                <p class="title is-4 mt-4 mb-0">What are is your return policy?</p>
                <p>See our <a href="{{ url_for('details.returns') }}">returns page.</a></p>
                <p class="title is-4 mt-4 mb-0">What happens if my order arrives damaged, or gets lost?</p>
                <p><a href="{{ url_for('details.contact')}}">Contact us asap.</a> We want you happy and we'll get it
                    straightened out for you!</p>
                <p class="title is-4 mt-4 mb-0">How can I contact Cookie Create?</p>
                <p><a href="{{ url_for('details.contact')}}">Contact us</a> here, by email, phone or form.</p>
                <p class="title is-4 mt-4 mb-0">Do you create custom designs?</p>
                <p>Yes! <a href="{{ url_for('shop.custom_cutter')}}">Custom designs can be done for you, at $20!</a>. In
                    addition, you'll be able to soon create your own cutters with your very own drawings soon too!</p>
                <p class="title is-4 mt-4 mb-0">How are your products make?</p>
                <p>We use 3D printers, drag knife machines (like a Cricut), and a laser cutter to product our products.
                </p>
                <p class="title is-4 mt-4 mb-0">What materials do you use?</p>
                <p>PLA for our cookie cutters, Mylar for our stencils.</p>
                <p class="title is-4 mt-4 mb-0">How do I keep my stuff well taken care of?</p>
                <ul>
                    <li>Cookie cutters are not dishwasher safe (it'll melt them!). Hand wash with soapy water.</li>
                    <li>Stencils are also not dishwasher safe! Wash with soapy water, and let dry on a flat surface.
                    </li>
                    <li>Mug Stencils are also not dishwasher safe, due to being printed. Hand wash with soapy water.
                    </li>
                </ul>
                <p class="title is-4 mt-4 mb-0">How big are your cutters?</p>
                <p>We design our cutters to be roughly 3.5"x3.5" in size.</p>
                <p>Stencils are designed for a stencil holder that measures 5.5"x5.5" in size.</p>
                <p class="title is-4 mt-4 mb-0">What's the best way to use a fancy cookie cutter?</p>
                <p>Practice! Using a consistent, even, pressure, as well as gently lifting out will give you good
                    results.</p>
                <p>Additionally, using a bit more flour in your dough can help as well.</p>
                <p>We do have <a href="{{ url_for('details.recipes')}}">Recommended recipies</a> for you too!</p>
                <p>Fancier designs should use fondant.</p>
                <p class="title is-4 mt-4 mb-0">Can I use premade dough?</p>
                <p>It's not recommended. It's extremely sticky, and you'll have to use a lot of extra flour, both on the
                    dough and cutter, to get consistent results.</p>
                <p class="title is-4 mt-4 mb-0">Can I put the cutters or stencils in the oven?</p>
                <p>No, they'll melt!</p>
            </div>
        </div>
</section>
{% endblock content %}