{% extends 'base.html' %}
{% block content %}
<section>
    <div class="content">
        <div class="columns is-centered">
            <div class="column is-8">
                <p class="title">Privacy Policy</p>
                <p class="subtitle">Effective Date: 1/1/2024</p>
                <p>Welcome to Cookie Create, the premiere destination for innovative Cookie Cutters and Stencils. We are committed to protecting your privacy and ensuring your personal information is handled in a safe and responsible manner. </p>
                <ol>
                    <li><strong>Data Control: </strong>Cookie Create ("us", "we", or "our") operates the www.cookiecreate.com ("Service"). It is Cookie Create that is responsible for your personal information that is collected by our website.</li>
                    <li><strong>Information Collection and Use: </strong>We use your information to provide, improve and tailor our Service to your needs. By using the Service, you agree to the collection and use of your personal information in accordance with the policy.</li>
                    <li><strong>Types of Data Collected: </strong><br><em>Personal Information</em>
                        <br>While using our Service, you may be asked to provide certain personally identifiable information that can be used to contact or identify you ("Personal Data"). This may include, but not limited to, your email address, name, phone number, postal address, and other identifiers.
                        
                        <br><em>Tracking & Cookie Data</em>
                        <br>We use cookies and similar tracking technologies to monitor the activity on our Service and hold certain information to provide and improve our Service. You can accept or refuse cookies and know when a cookie is being sent to your computer. If you choose to refuse our cookies, you may not be able to use some portions of our Service.</li>
                    <li><strong>Use of Data: </strong> Cookie Create uses the collected data to:
                        <ol>
                            <li>Provide and sustain the Service.</li>
                            <li>Notify you about changes to our Service.</li>
                            <li>Provide customer care and support.</li>
                            <li>Monitor the usage of the Service.</li>
                            <li>Detect, prevent, and address technical issues. </li>
                        </ol>
                    </li>
                    <li><strong>Transfer of Data: </strong>Your information may be held on computers located outside of your city or country where privacy laws may be different than those in your jurisdiction. </li>
                    <li><strong>Disclosure of Data: </strong>We may disclose your personal data if required by law or in response to valid requests by legal authorities.</li>
                    <li><strong>Security of Data: </strong>We strive to use commercially acceptable means to protect your Personal Data, however, we cannot guarantee its absolute security.</li>
                    <li><strong>Links to Other Sites: </strong>Our Service may contain links to other sites not operated by us. We have no control over and assume no responsibility for the content, privacy policies or practices of any third-party sites or services.</li>
                    <li><strong>Changes to this Privacy Policy: </strong>We may update our Privacy Policy from time to time. You are advised to periodically review this Privacy Policy for any changes.</li>
                    <li><strong>Contact Us: </strong>For more information about our privacy practices, if you have questions, or if you would like to make a complaint, please contact our Privacy Compliance Officer at hi@cookiecreate.com.</li>
                </ol>
            </div>
        </div>
    </div>
</section>
{% endblock content %}