{% extends 'base.html' %}
{% block content %}
<section>
    <div class="content mb-5">
        <div class="columns is-centered">
            <div class="column is-4">
                <p class="title">JoyFoodSunshine</p>
                <p class="subtitle">Best Cut Out Sugar Cookie Recipe</p>
                <p>The first one can be found <a href="https://joyfoodsunshine.com/best-cut-out-sugar-cookie-recipe/">at JoyFoodSunshine</a>.
                    They look good and taste good. While most recipe sites give your a small oral of world history,
                    this one is actually filled with good tips.</p>
                <p>Ingredients:</p>
                <p>Sugar Cookie</p>
                <ul>
                    <li>1 cup salted butter - softened.</li>
                    <li>1 cup granulated sugar.</li>
                    <li>2 tsp vanilla extract.</li>
                    <li>2 large eggs - room temperature.</li>
                    <li>2-¾ cups all-purpose baking flour.</li>
                    <li>¾ tsp baking powder.</li>
                    <li>½ tsp salt.</li>
                </ul>
                <p>Making the cookies.</p>
                <ol>
                    <li>Cream together butter and sugar.</li>
                    <li>Add vanilla and eggs, beat until combined.</li>
                    <li>Add flour, baking soda, and salt. Mix until  combined.</li>
                    <li>Divide dough into two portions.</li>
                    <li>Shape each piece into a round, flat disc. Wrap tightly with plastic wrap.</li>
                    <li>Chill for at least 2 hours, preferably overnight.</li>
                    <li>Preheat oven to 350F.</li>
                    <li>Line baking sheets with parchment paper.</li>
                    <li>Remove dough, let it sit for 5 minutes to soften.</li>
                    <li>Place dough on floured surface, and roll to ¼ inch thickness.</li>
                    <li>Use your favorite cookie cutter shape and cut them out!</li>
                    <li>Place on sheet roughly 1" apart.</li>
                    <li>Bake in oven for approximately 10 minutes.</li>
                    <li>Remove and let sit for 5 minutes.</li>
                </ol>
            </div>
            <div class="column is-4">
                <p class="title">Bake it With Love</p>
                <p class="subtitle">No Chill Rolled Sugar Cookies.</p>
                <p>If you're short on time, these <a href="https://bakeitwithlove.com/no-chill-rolled-sugar-cookies/">no chill sugar cookies</a> will get it done for you quick. 
                    You can adjust with more flower to make them easier to shape, at the risk of making your cookies taste a bit floury.</p>
                <p>Ingredients</p>
                <ul>
                    <li>1 cup butter. Room temp, not yet softened.</li>
                    <li>1 cup granulated sugar.</li>
                    <li>1 tsp vanilla extract.</li>
                    <li>½ tsp almond extract.</li>
                    <li>1 large egg.</li>
                    <li>2 tsp baking powder.</li>
                    <li>3 cups all-purpose flour.</li>
                    <li>1 pinch salt.</li>
                </ul>
                <p>Making the Cookies</p>
                <ol>
                    <li>Preheat oven to 350F</li>
                    <li>Line baking sheets with parchment paper.</li>
                    <li>In a bowl, cream together butter and sugar.</li>
                    <li>Once butter and sugar are combined, mix in extracts, egg, baking powder, and salt.</li>
                    <li>Add in flour, starting with 2 cups.</li>
                    <li>Once flour has been incorporated, place dough on floured surface, and work in remaining dough.</li>
                    <li>Roll dough out to ¼" thickness.</li>
                    <li>Cut with your new cutters!</li>
                    <li>Bake for 6-9 minutes</li>
                    <li>Allow to cool for at least 5 minutes.</li>
                </ol>
            </div>
        </div>
    </div>
</section>
{% endblock content %}