{% extends 'base.html' %}
{% block content %}
<section class="mb-5">
    <div class="content">
        <div class="columns is-centered">
            <div class="column is-8">
                <p class="title mb-0">Return Policy for Cookie Create</p>
                <p>At Cookie Create, we value our customers and strive to deliver products of highest quality. However, we understand that there might be instances when you are not entirely satisfied with your purchase. We wish to make the return process as seamless as possible. Here is our return policy:</p>
                <ol>
                    <li><strong>Eligibility for Return: </strong>Customers can return any item purchased from our website within 30 days of delivery for any reason such as defects, damages, wrong product, unmet expectations, etc. However, due to health and safety reasons, we do not accept returns of used items.</li>
                    <li><strong>Bespoke Items: </strong>As all of our products are unique and custom-designed, please consider carefully before ordering. Once the production process has commenced, the order cannot be returned unless it's faulty or incorrect.</li>
                    <li><strong>Damaged/Incorrect Item: </strong>In the unlikely event that you receive a damaged or incorrect product, please notify us within seven days of delivery. We require photos of the damage or wrong item for quality control and to arrange a replacement.</li>
                    <li><strong>Return Process: </strong>To initiate a return, please contact us at hi@cookiecreate.com with your order number, the name of the product you would like to return, the reason for the return, and whether you are seeking an exchange or refund.</li>
                    <li><strong>Shipping: </strong>Returns can be sent to our headquarters at the address provided in your order details. Please note, customers are responsible for return shipping costs unless the item is defective or incorrect. </li>
                    <li><strong>Refunds: </strong>Once we receive your item, we will inspect it and notify you that we have received your returned product. If your return is approved, we will initiate a refund to your original method of payment. Please be patient as the refund process may take a week or two due to bank processes.</li>
                    <li><strong>Exchanges: </strong>We allow exchanges for items of the equivalent price.</li>
                </ol>
                <p>This policy serves to keep our commitment to excellent customer service. If there is an issue not outlined in this policy or if you have any other questions, please feel free to contact us at hi@cookiecreate.com.</p>
                <p>Thank you for your support and understanding. We appreciate your business.</p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}