{% extends 'base.html' %}
{% block content %}
<section>
    <div class="content">
        <div class="columns is-centered">
            <div class="column is-8">
                <p class="title">Shipping Policy for Cookie Create</p>
                <ol>
                    <li><strong>Introduction: </strong>This Shipping Policy discloses the practices for Cookie Create ("we", "us") regarding the shipping of the products purchased on our website. By using our products and services, you are agreeing to the terms of our Shipping Policy.</li>
                    <li><strong>Shipping Services: </strong>Cookie Create uses the United States Postal Service (USPS) for all shipping of its 3D printed cookie cutters, and stencils. We trust in the services of USPS to ensure our products reach our customers in a timely and safe manner.</li>
                    <li><strong>Processing Time: </strong>Orders are processed within 1-3 business days once the payment has been received and it has been verified. Business days are Monday through Friday, excluding holidays. Orders placed on weekends and holidays are processed the following business day.</li>
                    <li><strong>Shipping Time: </strong>The standard shipping time for USPS is typically between 2-5 business days for domestic shipments and 1-3 weeks for international shipments, depending on your location and the efficiency of your local postal service.</li>
                    <li><strong>Tracking: </strong>We provide tracking numbers for all our shipments. Once your package ships, we will send you an email notification with your tracking number. </li>
                    <li><strong>Shipping Rates: </strong>Shipping rates are determined at checkout by the weight of the packaged order and the destination.</li>
                    <li><strong>International Shipment: </strong>For international orders, customers are responsible for any customs, duties or taxes imposed by the recipient’s country. These fees are not included in the cost of shipping. The declared value for all international orders will reflect the actual cost of the merchandise.</li>
                    <li><strong>Lost/Missing Packages: </strong>We are not responsible for any packages that are lost or damaged once the package has been shipped. In such cases, the customer should contact USPS directly with any inquiries about shipping delay or loss.</li>
                    <li><strong>Changes and Cancellations: </strong>Once an order has been given to USPS we are unable to edit addresses or guarantee cancellations.</li>
                </ol>
                <p>For any shipping related inquiries, please contact us at hi@cookiecreate.com. </p>
                <p>We at Cookie Create reserve the right to modify or update this Shipping Policy at any time without prior notice, so please review it periodically.</p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}