<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cookie Create | {{ NAME }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/splide-core.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/splide.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/brands.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/solid.min.css') }}">

    <script src="{{ url_for('static', filename='js/splide.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ url_for('shop.index') }}">
                <img src="{{ url_for('static', filename='img/logo_small.png') }}" width="28" height="28">
                &nbsp;Cookie Create
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbar-cookiecreate">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbar-cookiecreate" class="navbar-menu">
            <div class="navbar-start">
                <a href="{{ url_for('shop.cookie_categories') }}" class="navbar-item">Cookie Cutters</a>
                <!--<a class="navbar-item">Stencils</a>
                <a class="navbar-item">Mug Stencils</a>-->
                <a class="navbar-item">Make your own!</a>
            </div>
            <div class="navbar-end">
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('auth.profile')}}" class="navbar-item">Profile</a>
                <a href="{{ url_for('auth.logout') }}" class="navbar-item">Logout</a>
                {% endif %}
                {% if not current_user.is_authenticated %}
                <a href="{{ url_for('auth.login') }}" class="navbar-item">Login</a>
                <a href="{{ url_for('auth.create_user') }}" class="navbar-item">Sign Up</a>
                {% endif %}
                <a href="{{ url_for('shop.checkout_page') }}" class="navbar-item" id="cart">Cart<span
                        class="fas fa-cart-shopping"></span> <span class="tag" id="cartAmount">0</span></a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Info</a>

                    <div class="navbar-dropdown">
                        <a href="{{ url_for('details.about')}}" class="navbar-item">About Us</a>
                        <a href="{{ url_for('details.faq')}}" class="navbar-item">FAQ</a>
                        <a href="{{ url_for('blog.index')}}" class="navbar-item">Blog</a>
                        <a href="{{ url_for('details.recipes')}}" class="navbar-item">Recipes</a>
                        <a href="{{ url_for('details.contact')}}" class="navbar-item">Contact</a>
                    </div>
                </div>
                <div class="navbar-item">
                    <form action="{{ url_for('shop.search')}}" method="post">
                        <div class="field has-addons">
                            <div class="control">
                                <input class="input" type="text" name="search" placeholder="Search">
                            </div>
                            <div class="control">
                                <button class="button is-info">
                                    Search
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock content %}
    <section class="hero is-info">
        <div class="hero-body">
            <div class="columns">
                <div class="column">
                    <p class="title">Cookie Create</p>
                    <p>Cookie Create gives you high quality, professional cookie cutters straight to you. Evey
                        imaginable theme and variety, long lasting, and fast shipping, topped by perfect customer
                        service and expert design services.</p>
                    <p><a href="https://www.youtube.com/@cookiecreate">YouTube</a></p>
                    <p><a href="https://instagram.com/cookiecreate_cookiecutters">Instagram</a></p>
                </div>
                <div class="column">
                    <ul>
                        <li><a href="{{ url_for('shop.index') }}">Home</a></li>
                        <li><a href="{{ url_for('details.about')}}">About Us</a></li>
                        <li><a href="{{ url_for('details.faq')}}">FAQ</a></li>
                        <li><a href="{{ url_for('blog.index')}}">Blog</a></li>
                        <li><a href="{{ url_for('details.recipes')}}">Recipes</a></li>
                        <li><a href="{{ url_for('details.contact')}}">Contact</a></li>
                        <li><a href="{{ url_for('details.shipping')}}">Shipping Policy</a></li>
                        <li><a href="{{ url_for('details.returns')}}">Return Policy</a></li>
                        <li><a href="{{ url_for('details.privacy')}}">Privacy Policy</a></li>
                        <li><a href="{{ url_for('details.sitemap')}}">Sitemap</a></li>
                    </ul>
                </div>
                <div class="column">
                    <p class="title">Recent Posts</p>
                    <div hx-get="{{ url_for('blog.latest_blog_posts')}}" hx-trigger="load">

                    </div>
                </div>

            </div>
            <!--<div class="columns">
                <div class="column">
                    <p class="title">Get Weekly updates and coupons every Friday!</p>
                    <div class="field is-horizontal has-addons">
                        <div class="control">
                            <input class="input is-success" type="email" placeholder="Email"
                                value="your-email@example.com">
                        </div>
                        <div class="control">
                            <a class="button is-primary">Subscribe!</a>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </section>
    <script>
        update_cart_tag();

        document.addEventListener('DOMContentLoaded', () => {

            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Add a click event on each of them
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });

        });

        {% block scripts %}
        {% endblock scripts %}
    </script>
</body>

</html>