{% extends "base.html" %}

{% block content %}
<section>
    <div class="container mb-5">
        <div class="columns">
            <div class="column is-6">
                <p class="title">{{ title }}</p>
                <p class="subtitle">{{ date }}</p>
                <p>{{ content|safe }}</p>
            </div>
            <div class="column"></div>
            <div class="column is-3">
                <p class="title">Feeling Inspired?</p>
                <p class="subtitle">Check out some of these!</p>
                {% for product in products %}
                {{ product|safe }}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}