{% extends 'base.html' %}
{% block content %}
<section>
    <div class="container">
        <div class="columns is-multiline">
            {% for item in products %}
            <div class="column is-4">
                {{ item|safe }}
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}