{% extends 'base.html' %}

{% block content %}
<section>
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-6">
                {% for cutter in cutters %}
                {{ cutter|safe }}
                {% endfor %}
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <p class="title">Total</p>
                        <p class="subtitle">{{ total_price }}</p>
                        <a href="{{ url_for('shop.checkout_stripe')}}" class="button is-primary">Purchase</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

{% endblock content %}
{% block scripts %}
    document.querySelectorAll('.cc-delete').forEach( (button) => {
        button.addEventListener("click", (event) => {
            var sid = button.id.split('-delete')[0];
            remove_from_cart(sid);
            document.querySelectorAll('.'+sid+'-card')[0].remove()
            update_cart_tag();
            location.reload();
        });
    });

    document.querySelectorAll('.cc-input').forEach((input) => {
        input.addEventListener("change", (event) => {
            var sid = input.id.split('-input')[0];
            set_cart_amount(sid, input.value);
            update_cart_tag();
            location.reload();
        });
    });

{% endblock scripts %}