<a href="{{ url_for('shop.product_page', sku=sku) }}">
<div class="card mx-3 my-3">
  <div class="card-image">
    <figure class="image">
      <img src="{{ image }}" alt="{{ name }}" width='256'>
    </figure>
  </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="{{ thumb }}">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">{{ name }}</p>
          <p class="subtitle is-6">{{ price }}</p>
        </div>
      </div>

      <div class="content">
        {{ description }}
      </div>
    </div>
</div>
</a>