{% extends 'base.html' %}
{% block content %}
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row">
            <div class="col-md-10 text-center">
                <h3>Custom Cookie Cutters</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 text-center">
                <button class="btn btn-lg btn-primary btn-outline-dark">Create Now!</button>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-md-6">
                <p>Unleash your inner artist! Our custom cookie cutter service allows you to turn your unique ideas into reality. Whether it's a personalized design or a special gift for a loved one, we're here to bring your vision to life in the form of delicious cookies.</p>
            </div>
            <div class="col-md-4">
                <img src="https://placehold.co/256x256">
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-md-4">
                <img src="https://placehold.co/256x256">
            </div>
            <div class="col-md-6">
                <p>Includes unlimited revisitons, 1 on 1 contact through the entire process, all for the low price of $20!</p>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-md-6">
                <p>Once purchased, you'll be contacted within the day to start working on your design.</p>
            </div>
            <div class="col-md-4">
                <img src="https://placehold.co/256x256">
            </div>
        </div>
        <div class="row pt-5">
            <p>Questions? Concerns? Email at hi@cookiecreate.com or DM on TikTok or Instagram.</p>
            <button class="btn btn-lg btn-primary btn-outline-dark">Order Now!</button>
        </div>
                
            </div>
        </div>
    </div>
</section>
{% endblock content %}