{% extends 'base.html' %}
{% block content %}
<section class="hero is-info has-text-centered">
    <div class="hero-body">
        <p class="title">Cookie Create</p>
        <p class="subtitle">Cutters, Stencils, Supplies, and more</p>
    </div>
</section>
<section>
    <div class="container">
        <h1 class="title has-text-centered mt-5">Featured Products</h1>
        <div class="columns is-multiline">
            {% for cutter in best_sellers%}
            <div class="column is-4">
            {{ cutter|safe }}
        </div>
            {% endfor %}
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h3 class="title has-text-centered mt-5">The Best Cookie Cutters</h3>
        <p>Welcome to Cookie Create, where your baking imagination takes shape. Reinventing your cookie baking
            experience with unique and custom designs. Our cutters aren't just tools - they're the gateway to a
            world of creativity and joy. Begin your delicious journey with us, one cookie shape at a time.</p>
    </div>
</section>
{% endblock content %}