{% extends 'base.html' %}
{% block content %}
<div class="section">
    <div class="columns">
        <div class="column is-one-third is-offset-one-fifth">
            <h1 class="title">{{ NAME }}</h1>
            <div id="main-carousel" class="splide has-text-centered">
                <div class="splide__track">
                    <ul class="splide__list">
                        {% for image in IMAGES %}
                        <li class="splide__slide">
                            <div style="height: 300px;">
                                <img style="object-fit: contain; max-height: 100%;" src="{{ image.url }}"
                                    alt="{{ NAME }} cookie cutter.">
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div id="thumbnail-carousel" class="splide">
                <div class="splide__track">
                    <ul class="splide__list">
                        {% for image in IMAGES %}
                        <li class="splide__slide">
                            <figure class="image is-16by9">
                                <img class="has-ratio" src="{{ image.thumb }}" alt="{{ NAME }} cookie cutter.">
                            </figure>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="is-size-7">SKU: {{ SKU }}</div>
            <h1 class="is-size-3">{{ NAME }}</h1>
            <div class="is-size-4">
                <span>{{ PRICE }}</span>
            </div>
            <p class="pb-5">{{ DESCRIPTION }}</p>
            <div class="field has-addons">
                <div class="control"><input class="input" type="number" placeholder="1" value="1" id="inputQuantity"></div>
                <div class="control"><a class="button is-info" id="addToCart">Add to Cart</a></div>
            </div>
            <div>
                {% for category in categories %}
                <a href="{{ url_for('shop.cookie_category_page', category=category)}}"><span class="tag">{{ category }}</span></a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="columns is-centered">
        <div class="column is-one-third">
            <h2 class="title">Cookie Cutter Specifications</h2>
            <p class="pb-2">
                Every cookie cutter is printed to order on a 3D printer using biodegradable PLA plastic.
                Each cutter is approximately 1/2 thick, with the stamping depth approximately 1/3 inch deep.
                Recommended thickness of your dough or fondant is about 1/4 inch, but results may vary based up the
                design.
            </p>
            <p class="pb-2">
                Most of our cutters come in white, however colors may vary.
            </p>
            <p class="pb-2">
                The listed size corresponds to the longest side, either width or height. The 4 inch size is the image
                images, and all designs are based on that size.
            </p>
            <p class="pb-2">
                These are <strong>not</strong> dishwasher safe, and should be handwashed immediatly after use. All
                designs are handmade, and are optimized to help faciliate easy cleaning.
            </p>
        </div>
    </div>
</div>
<script>
    document.getElementById("addToCart").addEventListener("click", function () {
        var v = document.getElementById("inputQuantity").value;
        add_to_cart("{{ STRIPEID }}", v);
        document.getElementById("cartAmount").textContent = items_in_cart();
    }, false);
</script>
{% endblock content %}
{% block scripts %}
var main = new Splide( '#main-carousel', {
type : 'fade',
rewind : true,
pagination: false,
arrows : false,
} );

var thumbnails = new Splide( '#thumbnail-carousel', {
fixedWidth : 100,
fixedHeight : 60,
gap : 10,
rewind : true,
pagination : false,
isNavigation: true,
focus: 'center',
breakpoints : {
500: {
fixedWidth : 60,
fixedHeight: 44,
},
},
} );

main.sync( thumbnails );
main.mount();
thumbnails.mount();
{% endblock scripts %}