{% extends 'base.html' %}
{% block content %}
<section>
    <div class="container">
        <form action="{{ url_for('shop.search')}}" method="post">
            <div class="field has-addons">
                <div class="control">
                    <input class="input" type="text" name="search" placeholder="Search">
                </div>
                <div class="control">
                    <button class="button is-info">
                        Search
                    </button>
                </div>
            </div>
        </form>
        <div class="columns is-multiline">
            {% if products %}
            {% for item in products %}
            <div class="column is-4">
                {{ item|safe }}
            </div>
            {% endfor %}
            {% else %}
            <div class="column is-4">
                <p class="title">No cutters found for {{ search_term }} 😿</p>
                <p class="subtitle mb-5">Try something else?</p>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock content %}