{% extends "base.html" %}

{% block content %}
<section class="section">
    <div class="content">
        <div class="columns is-centered">
            <div class="column is-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Metadata</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for line_item in orders %}
                        <tr>
                            <td>{{ line_item.name }}</td>
                            <td>{{ line_item.quantity }}</td>
                            <td>{{ line_item.metadata }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="column">
                <p class="title">Name: {{ name }} | {{ email }}</p>
                <p class="title is-5">Street 1:</p>
                <p class="subtitle is-6">{{ address.line1}}</p>
                <p class="title is-5">Street 2:</p>
                <p class="subtitle is-6">{{ address.line2}}</p>
                <p class="title is-5">City</p>
                <p class="subtitle is-6">{{ address.city}}</p>
                <p class="title is-5">State</p>
                <p class="subtitle is-6">{{ address.state}}</p>
                <p class="title is-5">Postal Code</p>
                <p class="subtitle is-6">{{ address.postal_code}}</p>
                <p class="title is-5">Country</p>
                <p class="subtitle is-6">{{ address.country}}</p>

                <form class="form" action="{{ url_for('money.ship', id=id)}}" method="get">
                    <div class="field">
                        <label class="label">Length</label>
                        <div class="control">
                            <input class="input" type="number" name="length">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Width</label>
                        <div class="control">
                            <input class="input" type="number" name="width">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Height</label>
                        <div class="control">
                            <input class="input" type="number" name="height">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Weight</label>
                        <div class="control">
                            <input class="input" type="number" name="oz">
                        </div>
                    </div>
                    <div class="control">
                        <button class="button is-primary">Buy Shipping</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}