{% extends "email/base.html" %}
{% block content %}
<p class="title">Your Order Has Been Shipped!</p>
<p>Tracking information can be found <a href="{{ tracking_link }}">here.</a></p>
{% endblock content %}