{% extends "email/base.html" %}
{% block content %}
<p class="title">Thank you for your order!</p>
<p>Your order is in line to be freshly made! You will recieve an email when it ships!</p>
{% endblock content %}